.cursor-follow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  margin: -50px 0 0 -50px;
  border-radius: 50%;
  background: #b2f6e3;
  color: #111212;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  z-index: 9999;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.3s cubic-bezier(0.23, 1, 0.32, 1), transform 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  will-change: transform;
  font-size: 24px;
}

.cursor-follow.cursor-visible {
  opacity: 1;
  transform: scale(1);
}
